body {
  background-color: #f44786;
  overflow: hidden;
  background-image: url(./image/new.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}
#logo_img {
  width: 100%;
}
#logo {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 15%;
}
#game1{
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 0;
}
#game2{
  height: 110px;
}
#game3{
  width: 90%;
  height: 100%;
}
#gameOne_logo{
  width: 60%;
}
.game{
  width: 25%;
  position: absolute;
  left: 3%;
  top: 35%;
  height: 130px;
  box-sizing: border-box;
  background-color: black;
  border: 3px solid white;
  border-radius: 20px;
  padding-top: 0;
  text-align: center;
  cursor: pointer;
}
.game:hover{
  box-shadow: 1rem 1rem 2rem black;

}
.two{
  top: 60%;
}
.three{
  top: 50%;
  left: 30%;
}